:root {
    --successColor: #2ecc72;
    --errorColor: #e74e33;
}

footer {
    background-color: $Ycolor;
}

footer a {
    font-size: 2em;
    font-family: $TextfontR;
}

footer p {
    font-family: $TextfontR;
    font-size: 1.5em;
}

.footer-links {
    margin-top: 20px;
    text-align: center;
}

.footer-links a {
    position: relative;
    text-decoration: none;
    font-family: $TextfontR;
    color: darkgray;
    font-size: 1.125rem;
    padding: 0 10px;
}

.footer-links a:hover {
    color: $Lcolor;

}

.footer-links a::after {
    content: '';
    position: absolute;
    background-color: #b20000;
    height: 3px;
    width: 100%;
    left: 0;
    bottom: -10px;
    transition: transform 0.3s ease;
    transform: scale(0, 1);
}

.footer-links a:hover:after {
    transform: scale(1, 1);
}

@media (max-width: 768.98px) {

    div.out-line {
        line-height: 7.5 !important;
    }

    #quiz-popup .quiz-content {
        margin-top: 1000px !important;
    }

    #quiz-popup .quiz-content #quiz-form input[type=reset] {
        top: 0;
    }
}

@media (max-width: 575.98px) {

    div.out-line {
        line-height: 4.5 !important;
    }

    #quiz-popup .quiz-content {
        margin-top: 1450px !important;
    }

    #quiz-popup .quiz-content .quiz-header {
        transform: scale(0.8) !important;
    }

    #quiz-popup .quiz-content #quiz-form input[type=reset] {
        transform: scale(0.8);
        top: 5px !important;
        right: 65px !important;
    }

    .central-f-logo {
        text-align: center;
    }
}

div.out-line {
    background-color: $Gcolor;
    text-align: center;
    height: 8vh;
    line-height: 5.5;
    font-size: 0.7rem;
    color: gray;
    font-weight: bold;
    font-family: Tahoma;
}

footer hr {
    color: ivory;
}

footer a img[alt='Footer_Logo'] {
    margin-top: 5px;
    transition-duration: 0.2s;
}

footer a img[alt='Footer_Logo']:hover {
    transform: rotateZ(5deg);
    transition: all 0.2s ease-in-out;
}

.newsletter {
    margin-top: 20px;
}

.newsletter .newsletter-btn {
    display: block;
    margin: auto;
    background-color: #b20000;
    border: 2px solid#b20000;
    text-transform: uppercase;
    font-family: $TextfontR;
    font-weight: bold;
    border-radius: 5px;
    color: $Lcolor;
    font-size: 1.5rem;
    padding: 5px 10px;
    position: relative;
    cursor: pointer;
    transition-duration: 0.5s;
    letter-spacing: 2px;
}

.newsletter .newsletter-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
    border: 2px solid transparent;
    transition: all 0.5s ease-in-out;
    letter-spacing: 4px;
}

#newsletter-popup {
    position: fixed;
    top: -100%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1500;
    background-color: beige;
    width: 450px;
    padding: 80px 50px 50px;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.5), 0 0 0 3000px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
    visibility: hidden;
}

#newsletter-popup.active {
    visibility: visible;
    top: 50%;
}

#newsletter-popup .newsletter-content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#newsletter-popup .newsletter-content img[src~='newsletter'] {
    max-width: 80px;
}

#newsletter-popup .newsletter-content h3 {
    font-size: 1.5rem;
    font-family: $HeadingfontP;
    font-weight: 500;
    color: $Dcolor;
    margin: 20px 0 10px;
}

.cg1 {
    animation: maingreen 1s infinite alternate;
}

.cg2 {
    animation: mainyellow 1s infinite alternate;
}

.cg3 {
    animation: mainpurple 1s infinite alternate;
}

@keyframes maingreen {
    from {
        color: $Dcolor;
    }

    to {
        color: $Gcolor;
    }
}

@keyframes mainyellow {
    from {
        color: $Dcolor;
    }

    to {
        color: $Ycolor;
    }
}

@keyframes mainpurple {
    from {
        color: $Dcolor;
    }

    to {
        color: $Pcolor;
    }
}

#newsletter-popup .newsletter-content .inputEmail {
    position: relative;
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#newsletter-popup .newsletter-content .inputEmail input[type=email] {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 15px;
    outline: none;
    font-size: 1.125rem;
}

#newsletter-popup .newsletter-content .inputEmail input[type=submit] {
    @extend input[type=email];
    max-width: 150px;
    display: block;
    margin: auto;
    background-color: #b20000;
    border: none;
    text-transform: uppercase;
    font-family: $TextfontR;
    font-weight: bold;
    border-radius: 5px;
    color: $Lcolor;
    font-size: 1.5rem;
    padding: 5px 10px;
    position: relative;
    cursor: pointer;
    transition-duration: 0.5s;
    letter-spacing: 2px;
}

#newsletter-popup .newsletter-content .inputEmail input[type=submit]:hover {
    background-color: rgba(0, 0, 0, 0.8);
    border: 2px solid transparent;
    transition: all 0.5s ease-in-out;
    letter-spacing: 4px;
}

#newsletter-popup .newsletter-content .inputEmail input[type=email]::placeholder {
    visibility: visible;
    font-weight: normal;
}

.close-btn {
    position: absolute;
    top: 30px;
    right: 30px;
    border: none;
    cursor: pointer;
    opacity: 0.5;
    transform: scale(1);
    transition: transform opacity 0.3s ease-in-out;
    transition-duration: 0.3s;
}

.close-btn:hover {
    opacity: 1;
    transform: scale(1.2);
}

#my-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 5000;
    visibility: hidden;
    pointer-events: none;
}

#my-canvas.active {
    visibility: visible;
}

.quiz {
    @extend .newsletter;
}

.quiz-btn {
    margin-left: 5px;
    display: block;
    margin: auto;
    background-color: #b20000;
    border: 2px solid#b20000;
    text-transform: capitalize;
    font-family: $TextfontR;
    font-weight: bold;
    border-radius: 5px;
    color: $Lcolor;
    font-size: 1.5rem;
    padding: 5px 10px;
    position: relative;
    cursor: pointer;
    transition-duration: 0.5s;
    letter-spacing: 2px;
}

.quiz .quiz-btn:hover {
    @extend .newsletter-btn:hover;
}

#quiz-popup {
    position: fixed;
    top: -100%;
    left: 50%;
    width: 102vw;
    height: 102vh;
    transform: translate(-50%, -50%);
    z-index: 1500;
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
    visibility: hidden;
    overflow: auto;
}

#quiz-popup.active {
    visibility: visible;
    top: 50%;
}

#quiz-popup .quiz-content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1250px;
}

#quiz-popup .quiz-content h3 {
    font-family: $HeadingfontP;
    font-weight: 500;
    color: $Dcolor;
}

#quiz-popup .quiz-content p {
    text-align: center;
    color: $Dcolor;
    font-family: $TextfontR;
    font-size: 1rem;
}

#quiz-popup .quiz-content .quiz-header {
    border-bottom: 2px dashed #b20000;
    text-align: center;
}

#quiz-popup .quiz-content .quiz-header p {
    margin-top: 5px;
    margin-bottom: 5px;
}

#quiz-form {
    margin-top: 20px;
}

#quiz-popup .quiz-content #quiz-form h3 {
    font-family: $HeadingfontHP;
    margin: 20px;
    font-size: 1.5rem;
}

#quiz-popup .quiz-content #quiz-form .answer-box {
    margin-left: 55px;
}

#quiz-popup .quiz-content #quiz-form span {
    font-family: $TextfontR
}

.quiz-score {
    margin-top: 20px;
    font-family: $TextfontR;
    font-size: 1.5rem;
    color: #b20000;
    font-weight: bold;
}

#quiz-popup .quiz-content #quiz-form input[type=submit] {
    display: block;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 15px;
    width: 50%;
    background-color: #b20000;
    border: 2px solid#b20000;
    text-transform: uppercase;
    font-family: $TextfontR;
    font-weight: bold;
    border-radius: 5px;
    color: $Lcolor;
    font-size: 1.5rem;
    padding: 10px;
    cursor: pointer;
    transition-duration: 0.5s;
}

#quiz-popup .quiz-content #quiz-form input[type=submit]:hover {
    background-color: rgba(0, 0, 0, 0.8);
    border: 2px solid transparent;
    transition: all 0.5s ease-in-out;
}

#quiz-popup .quiz-content #quiz-form input[type=reset] {
    background-color: #b20000;
    border: 2px solid#b20000;
    text-transform: capitalize;
    font-family: $TextfontR;
    font-weight: bold;
    border-radius: 5px;
    color: $Lcolor;
    font-size: 1rem;
    padding: 10px;
    cursor: pointer;
    transition-duration: 0.5s;
    position: absolute;
    top: -25px;
    right: 80px;
    cursor: pointer;
}

#quiz-popup .quiz-content #quiz-form input[type=reset]:hover {
    background-color: rgba(0, 0, 0, 0.8);
    border: 2px solid transparent;
    transition: all 0.5s ease-in-out;
}

.close-btn2 {
    @extend .close-btn;
}

.close-btn2:hover {
    @extend .close-btn:hover;
}

.footer-icons {
    text-align: right;
}

.footer-icons button {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: $Lcolor;
    border: none;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    font-size: 25px;
    color: $Dcolor;
    z-index: 1;
    transition: .5s ease-in-out;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

@media (max-width: 500.98px) {
    .footer-icons button {
        width: 65px;
        height: 65px;
        line-height: 50px;
        font-size: 35px;
    }

    .footer-links a {
        display: flex;
        text-align: center;
        justify-content: center;
        flex-direction: column;
    }

    .footer-links a::after {
        width: 40vw;
        margin-left: 95px;
        bottom: -5px;
    }

    .newsletter .newsletter-btn {
        font-size: 1rem;
    }

    .quiz-btn {
        font-size: 1rem;
    }
}

.footer-icons button::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    background-color: #ccc;
    z-index: -1;
    border-radius: 50%;
    transform: scale(0);
    transition: .3s ease-in-out;
}

.footer-icons button::after {
    content: '';
    width: 50%;
    height: 100%;
    position: absolute;
    right: -100%;
    top: 0;
    background-color: rgba(255, 255, 255, .3);
    transition: .5s ease-in-out;
    transition-delay: .2s;
}

.footer-icons button:hover:before {
    left: 0;
    transform: scale(.9);
}

.footer-icons button:hover::after {
    right: 0;
}

.footer-icons button:first-child::before {
    background-color: #1877F2;
}

.footer-icons button:nth-child(2):before {
    background-color: #1DA1F2;
}

.footer-icons button:nth-child(3)::before {
    background-color: #B3297A;
}

.footer-icons button:last-child::before {
    background-color: #CD201F;
}

.footer-icons button .bi {
    transition: .3s ease-in-out;
}

.footer-icons button:hover .bi {
    color: $Lcolor;
}

.footer-imgs {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer-imgs a img {
    text-align: center;
    border-radius: 10px;
    margin-left: 5px;
    transition-duration: 0.5s;
}

.footer-imgs a img:hover {
    opacity: 0.5;
    transition: all 0.5s;
}

@media (max-width: 1199.98px) {
    .footer-imgs a img {
        margin-bottom: 10px;
    }

    div.out-line {
        line-height: 10.5;
    }

    #newsletter-popup {
        width: 90vw;
        height: 80vh;
    }

    #quiz-popup .quiz-content {
        margin-top: 600px;
    }

    .quiz-score {
        margin-left: 25px;
    }

    #quiz-popup .quiz-content #quiz-form input[type=reset] {
        top: 0;
    }
}

.btn-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    width: 65px;
    height: 65px;
    font-size: 2rem;
    color: darkgray;
    background-color: mintcream;
    border: 2px solid $Dcolor;
    transition-duration: 0.3s;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
    z-index: 100;
}

.btn-top.active {
    pointer-events: auto;
    opacity: 1;
}

.btn-top:hover {
    background-color: $Dcolor;
    color: $Lcolor;
    transition: all 0.3s ease-in-out;
}

@media (max-width: 400.98px) {
    #newsletter-popup .newsletter-content h3 {
        font-size: 1.2rem;
    }
}

@media (max-width: 420.98px) {
    #quiz-popup .quiz-content {
        margin-top: 1600px !important;
    }

    #quiz-popup .quiz-content #quiz-form input[type=reset] {
        left: 0;
    }

    #quiz-popup .quiz-content #quiz-form input[type=submit] {
        width: 80vw;
    }

    .footer-links a::after {
        width: 35vw;
        margin-left: 120px;
    }
}

@media (max-width: 376.98px) {
    #quiz-popup .quiz-content {
        margin-top: 1700px !important;
    }

    #quiz-popup .quiz-content #quiz-form input[type=reset] {
        left: -5px !important;
        transform: scale(0.6);
    }

    .footer-links a::after {
        width: 35vw;
        margin-left: 110px;
    }
}

@media (max-width: 361.98px) {
    #quiz-popup .quiz-content {
        margin-top: 1750px !important;
    }

    #quiz-popup .quiz-content #quiz-form input[type=reset] {
        left: -15px !important;
    }

    .footer-links a::after {
        width: 40vw;
        margin-left: 95px;
    }
}

@media (max-width: 321.98px) {
    #quiz-popup .quiz-content {
        margin-top: 1850px !important;
    }

    #quiz-popup .quiz-content #quiz-form input[type=reset] {
        top: -10px !important;
        left: 10px !important;
    }

    #quiz-popup .quiz-content #quiz-form input[type=submit] {
        margin-bottom: 40px;
    }

    .close-btn2 {
        top: 40px;
        right: 30px;
    }

    #quiz-popup {
        width: 112vw;
        height: 110vh;
    }

    .footer-links a::after {
        width: 40vw;
        margin-left: 85px;
    }
}

@media (max-width: 280.98px) {
    .btn-top {
        position: fixed;
        width: 40px;
        height: 40px;
        font-size: 1rem;
        right: 15px;
        bottom: 35px;
    }

    .footer-imgs a img {
        width: 250px;
    }

    #newsletter-popup .newsletter-content h3 {
        font-size: 0.95rem !important;
    }

    #quiz-popup .quiz-content .quiz-header {
        margin-top: 50px;
    }

    #quiz-popup .quiz-content #quiz-form input[type=reset] {
        top: 40px !important;
        left: 5px !important;
    }

    #quiz-popup .quiz-content #quiz-form input[type=submit] {
        margin-bottom: 50px;
    }

    #quiz-popup {
        width: 110vw;
        height: 110vh;
    }

    #quiz-popup .quiz-content {
        margin-bottom: -80px;
    }

    .close-btn2 {
        top: 40px !important;
        right: 20px !important;
    }

    .footer-icons button {
        width: 55px;
        height: 55px;
        font-size: 30px;
    }

    .footer-links a::after {
        width: 50vw !important;
        margin-left: 60px !important;
    }

    .newsletter .newsletter-btn {
        font-size: 0.8rem;
    }

    .quiz-btn {
        font-size: 0.8rem;
    }
}